@import "../../scss/variables";

.login {
  width: 500px;

  @media (max-width: 992px) {
    background-color: $soft-bg;
    border-radius: 20px;
  }

  .custom-control-label {
    cursor: pointer;
  }

  label:hover,
  a:hover {
    color: $soft-color;
  }

  .eye {
    position: absolute;
    color: $dark-color;
    right: 10px;
    top: 10%;
    cursor: pointer;
    z-index: 9999;
  }
}
