@import '../../scss/variables';
@import '../../scss/responsive';

.mainSearchBox {
  position: relative;

  .searchIcon {
    position: absolute;
    top: 8px;
    left: 10px;
    color: $soft-dark;
  }

  .form-input {
    text-indent: 8px;
    border-radius: 10px;
    border: none;
    padding-right: 45px;
    border: 1px solid $blue-magenta !important;

    &:focus {
      box-shadow: none;
    }
  }

  .left-pan {
    position: absolute;
    right: 0;
    top: 50%;
    padding: 2px;
    border-left: 1px solid $blue-magenta;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);

    & > button {
      padding: 0 10px !important;
      color: $blue-magenta;
      background-color: transparent;
    }

    & > button:active {
      color: $gray-700;
      background-color: transparent;
    }
  }
}

body.dark .mainSearchBox .form-input {
  color: $soft-light !important;
  background-color: transparent !important;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;

  &::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: $soft-light;
  }
  :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: $soft-light;
  }
  &::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: $soft-light;
  }
  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $soft-light;
  }
  &::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $soft-light;
  }

  &::placeholder {
    /* Most modern browsers support this now. */
    color: $soft-light;
  }
}
