@import '../../scss/variables';
@import '../../scss/responsive';

.dashboard {
  .box {
    padding: 20px;
    border-radius: 10px;
    border: 2px solid $blue-soft-magenta;

    &.withdrawal-list,
    &.collection-list,
    &.top-collectors,
    &.pie-analytics {
      padding: 0 !important;
      border: none !important;
      background-color: transparent !important;
    }
  }

  .withdrawal-list,
  .collection-list,
  .box-card {
    min-height: 200px;
  }
  .top-collectors,
  .pie-analytics {
    min-height: 420px;
  }

  .collectors {
    padding-left: calc(var(--bs-gutter-x) * 0.5) !important;
    @include lgtoxl {
      padding-left: 0 !important;
    }
  }
}
