@import '../../scss/variables';
@import '../../scss/responsive';

.top-bar {
  padding: 0 10px;
  height: 60px;
  display: flex;
  align-items: center;

  .DarkLangButton > button {
    color: $main-color;
  }
}
