@import '../../../scss/variables';
@import '../../../scss/responsive';

.historyBox {
  width: inherit;
  padding-left: 50px;
  margin-top: 30px;

  &:first-child {
    margin-top: 0 !important;
  }

  &:before {
    width: 1px;
    height: 170%;
    background-color: $blue-magenta;
    content: '';
    z-index: 9;
    position: absolute;
    left: 20px;
    top: 0;
  }

  &:last-child:before {
    display: none !important;
  }

  .avatar {
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border: 1px solid $blue-magenta;
    text-align: center;
    font-size: 24px;
    color: $blue-magenta;
    border-radius: 50px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
  }

  .heading {
    background-color: $blue-soft-magenta;
    width: max-content;
    -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 15% 50%, 0% 0%);
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 15% 50%, 0% 0%);
  }

  .details {
    width: max-content;
    background-color: $soft-bg;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }

  .date {
    p {
      font-family: 'Poppins', sans-serif !important;
    }
  }
}
