@import '../../scss/variables';
@import '../../scss/responsive';
.layout {
  //   background: $main-bg;
  height: 100%;

  &::before {
    background-image: url('../../icons/bg-login-page-dark.svg');
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: auto 100%;
    content: '';
    height: inherit;
    left: 0;
    margin-left: -48%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -9999;
  }

  @include lg {
    &::before {
      display: none;
    }
  }

  .layout-heading {
    font-size: 36px;
  }
  .layout-heading-sm {
    font-size: 22px;
  }
}

.main {
  overflow: hidden !important;

  .side-bar {
    min-width: 200px;
    max-width: 250px;
    border-right: 1px solid $primary-soft-bg;
    // background-color: aqua;
    padding: 0 10px;

    @include lg {
      min-width: max-content !important;
    }
  }
  .main-body {
    width: 100%;
    background-color: cadetblue;

    .top-bar {
      background-color: blueviolet;
      padding: 0 20px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .content {
      min-height: calc(100vh - 60px - 40px);
    }
  }
  .footer {
    background-color: tomato;
    padding: 0 20px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
