@import '../../scss/variables';
@import '../../scss/responsive';
.layout {
  //   background: $main-bg;
  height: 100%;

  &::before {
    background-image: url('../../icons/bg-login-page-dark.svg');
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: auto 100%;
    content: '';
    height: inherit;
    left: 0;
    margin-left: -48%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -9999;
  }

  @include lg {
    &::before {
      display: none;
    }
  }

  .layout-heading {
    font-size: 36px;
  }
  .layout-heading-sm {
    font-size: 22px;
  }
}

.main {
  overflow: hidden !important;

  .side-bar {
    min-width: 280px;
    // overflow-x: hidden;
    padding: 0 15px 15px 8px;
    position: relative;
    overflow-y: hidden;
    box-shadow: 6px 0px 22px -6px rgba(0, 0, 0, 0.03);
    -webkit-box-shadow: 6px 0px 22px -6px rgba(0, 0, 0, 0.03);
    -moz-box-shadow: 6px 0px 22px -6px rgba(0, 0, 0, 0.03);
    transition: width 0.3s ease;
    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -ms-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;

    &.side-bar-sm {
      // min-width: min-content !important;
      min-width: 80px !important;
    }
    &.side-bar-sm .side-menu {
      justify-content: center;
      padding-left: 0;
    }
    &.side-bar-sm .side-menu__title {
      display: none;
    }
    &.side-bar-sm .logo .img {
      width: 50px;
    }
    &.side-bar-sm .logo .title {
      display: none;
    }
  }

  .main-body {
    min-width: calc(100vw - 295px);

    @include md {
      min-width: 100vw;
    }

    .mobile-menu {
      display: none;

      @include md {
        display: grid;
        grid-template-rows: 0fr !important;
        transition: grid-template-rows 0.3s ease-in-out;
        -webkit-transition: grid-template-rows 0.3s ease-in-out;
        -moz-transition: grid-template-rows 0.3s ease-in-out;
        -ms-transition: grid-template-rows 0.3s ease-in-out;
        -o-transition: grid-template-rows 0.3s ease-in-out;

        & > .menu {
          overflow: hidden;
        }
        &.active {
          grid-template-rows: 1fr !important;
        }
      }
    }

    .content {
      // background-color: cadetblue;
      min-height: calc(100vh - 60px - 40px);
    }
  }

  .side-bar-sm ~ .main-body {
    min-width: calc(100vw - 95px);
  }

  .footer {
    background-color: $main-bg;
    padding: 0 20px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    p,
    small {
      font-family: 'Poppins', 'Tiro Bangla', sans-serif !important;
    }

    small {
      font-size: 11px;
    }
  }
}
