@import '../../../scss/variables';

.heading {
  font-size: 16px;
  font-weight: 600;
}

.column-hiding {
  .column-dropdown {
    // width: 220px;
    height: 0px;
    top: 100%;
    right: 88%;
    visibility: hidden;
    overflow: hidden;
    z-index: 99999;
    transition: height 0.5s ease;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transition: height 0.5s ease;
    -moz-transition: height 0.5s ease;
    -ms-transition: height 0.5s ease;
    -o-transition: height 0.5s ease;
    @include transition;

    ul {
      width: max-content;
      background-color: $secondary-color;
      @include transition;

      li {
        color: $white-color;
        @include transition;
      }
    }
  }

  .column-dropdown.active {
    height: auto;
    visibility: visible;
  }
}

.table-btn {
  padding: 5px;
  border-radius: 0.375rem;
  box-shadow: 0 3px 20px #0000000b;
  font-size: 16px;
  font-weight: 400;
  margin-right: 0.5rem;
  min-width: 40px;
  text-align: center;
  border: none;
  background: transparent;
  color: $main-color;
  @include transition;

  &:active {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
  }

  &:hover {
    color: $primary-soft-bg !important;
  }

  &.active {
    background-color: $soft-bg;
  }
}
