@import '../../scss/variables';

.print-report {
  font-family: 'Tiro Bangla', 'Poppins', sans-serif !important;

  .report-footer,
  .report-header {
    h3 {
      font-size: 24px !important;
    }

    h4,
    h5 {
      font-weight: 500 !important;
    }
  }
  .report-body {
    table {
      border: 1px solid $dark-color;
    }

    th,
    td {
      background: transparent !important;
      color: $dark-color !important;
      border: none !important;
      border-left: 1px solid $dark-color !important;
      font-weight: 500 !important;
      color: $dark-color !important;
    }

    td {
      text-wrap: wrap !important;
    }

    tfoot td,
    th {
      border: 1px solid $dark-color !important;
    }
  }
}
