@import '../../scss/variables';

.print-report {
  .report-footer,
  .report-header {
    h4,
    h5 {
      font-weight: 500 !important;
    }
  }
  .report-body {
    table {
      border: 1px solid $dark-color;
    }

    th,
    td {
      background: transparent !important;
      color: $dark-color !important;
      border: none !important;
      border-left: 1px solid $dark-color !important;
      font-weight: 500;
    }

    tfoot td,
    th {
      border: 1px solid $dark-color !important;
    }
  }
}
