@import '../../scss/variables';

.staff {
  .staff-table {
    padding: 20px 10px;
    border-radius: 10px;
    border: 2px solid $blue-soft-magenta;
    min-height: 70vh;
    -webkit-box-shadow:
      inset -1px 0px 0px 0px $primary-bg,
      2px 5px 16px 0px #0b325e,
      5px 5px 2px 5px rgba(0, 0, 0, 0);
    box-shadow:
      inset -1px 0px 0px 0px $primary-bg,
      2px 5px 16px 0px #0b325e,
      5px 5px 2px 5px rgba(0, 0, 0, 0);
  }
}
