@import '../../scss/responsive';
@import '../../scss/variables';

.register-box {
  & * {
    border-color: var(--border-color) !important;
  }

  .btn-grp {
    * {
      border-color: $soft-bg !important;
    }

    @include md {
      & > div {
        flex-direction: column !important;

        button {
          margin: 5px 0 !important;
          border-radius: 10px !important;
          -webkit-border-radius: 10px !important;
          -moz-border-radius: 10px !important;
          -ms-border-radius: 10px !important;
          -o-border-radius: 10px !important;
        }
      }
    }
  }
  .middle-column {
    border-left: 1px solid;
    border-right: 1px solid;

    @include md {
      border-left: none;
      border-right: none;
      border-top: 1px solid;
      border-bottom: 1px solid;
      padding: 15px 0;
      margin: 15px 0;
    }
  }
}

.dark .register-box {
  background-color: $dark-bg;
}

.light .register-box {
  background-color: $main-bg;
}
