* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body,
html {
  font-family: 'Poppins', sans-serif;
}

@font-face {
  font-family: 'Poppins';
  font-weight: 300;
  src:
    local('Poppins'),
    url(../fonts/poppins/Poppins-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  src:
    local('Poppins'),
    url(../fonts/poppins/Poppins-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  src:
    local('Poppins'),
    url(../fonts/poppins/Poppins-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  src:
    local('Poppins'),
    url(../fonts/poppins/Poppins-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  src:
    local('Poppins'),
    url(../fonts/poppins/Poppins-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 800;
  src:
    local('Poppins'),
    url(../fonts/poppins/Poppins-ExtraBold.ttf) format('truetype');
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  color: $white-color;
  background-color: $primary-bg;
  border: none;
  padding: 10px 15px;
}

.btn:active {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
  box-shadow: none;
}
.dark .btn:disabled,
fieldset:disabled {
  background-color: $soft-color !important;
  color: $soft-dark !important;
}
.light .btn:disabled,
fieldset:disabled {
  background-color: $soft-color !important;
  color: $white-color !important;
}

body {
  background-color: $main-bg;
  color: $main-color;
  position: relative;
  height: 100%;
  font-size: 14px;
  font-weight: 400;
}

.img > img {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
  padding: 0;
  margin: 0;
}

.btn-check:active + .btn-warning:focus,
.btn-check:checked + .btn-warning:focus,
.btn-warning.active:focus,
.btn-warning:active:focus,
.show > .btn-warning.dropdown-toggle:focus,
.btn-check:focus + .btn-warning,
.btn-warning:focus,
.btn-check:focus + .btn,
.btn:focus,
.form-control:focus {
  box-shadow: none;
}

ol,
ul {
  list-style-type: none;
  padding: 0;
}

.cursor-pointer {
  cursor: pointer;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
