* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

html[lang='en'] body {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 400;
  font-style: normal;
}

html[lang='bn'] input,
html[lang='bn'] label,
html[lang='bn'] body {
  font-family: 'Tiro Bangla', sans-serif !important;
  font-weight: 400;
  font-style: normal;
}

body.dark {
  color: $soft-light !important;
}

@font-face {
  font-family: 'Poppins';
  font-weight: 300;
  src:
    local('Poppins'),
    url(../fonts/poppins/Poppins-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  src:
    local('Poppins'),
    url(../fonts/poppins/Poppins-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  src:
    local('Poppins'),
    url(../fonts/poppins/Poppins-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  src:
    local('Poppins'),
    url(../fonts/poppins/Poppins-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  src:
    local('Poppins'),
    url(../fonts/poppins/Poppins-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 800;
  src:
    local('Poppins'),
    url(../fonts/poppins/Poppins-ExtraBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Tiro Bangla';
  font-weight: 400;
  src:
    local('TiroBangla'),
    url(../fonts/tiroBangla/TiroBangla-Regular.ttf) format('truetype');
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  color: $white-color;
  background-color: $primary-bg;
  border: none;
  padding: 10px 15px;
}

a:active,
.btn:active {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
  box-shadow: none;
}
.dark .btn:disabled,
fieldset:disabled {
  background-color: $soft-color !important;
  color: $soft-dark !important;
}
.light .btn:disabled,
fieldset:disabled {
  background-color: $soft-color !important;
  color: $white-color !important;
}

body {
  background-color: $main-bg;
  color: $main-color;
  position: relative;
  height: 100%;
  font-size: 14px;
  font-weight: 400;
}

tr,
td {
  border: none !important;
  @include transition;
}

.img > img {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
  padding: 0;
  margin: 0;
}

.btn-check:active + .btn-warning:focus,
.btn-check:checked + .btn-warning:focus,
.btn-warning.active:focus,
.btn-warning:active:focus,
.show > .btn-warning.dropdown-toggle:focus,
.btn-check:focus + .btn-warning,
.btn-warning:focus,
.btn-check:focus + .btn,
.btn:focus,
.form-control:focus {
  box-shadow: none;
}

ol,
ul {
  list-style-type: none;
  padding: 0;
}

.cursor-pointer {
  cursor: pointer;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// .light .side-bar::after {
//   background-color: $gray-300;
// }
.menu-btn:active,
.side-menu:active {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  box-shadow: none;
}

.light .css-jsexje-MuiSwitch-thumb {
  background-color: $main-bg !important;
}
.dark .css-jsexje-MuiSwitch-thumb {
  background-color: $main-color !important;
}
.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked + .MuiSwitch-track {
  background-color: $gray-300 !important;
}

.light .menu > ul > li {
  & > ul,
  & > .side-menu.side-menu--active {
    background-color: $primary-bg;
  }

  & > a {
    color: $soft-dark !important;

    &:hover {
      background-color: $primary-bg-hover !important;
      color: $white-color !important;
    }
  }

  & > ul > li > a:hover {
    color: $white-color !important;
  }
}

.light .profile ul {
  background-color: $primary-bg;

  li:hover {
    color: $white-color !important;

    button {
      color: inherit !important;
    }
  }
}

.css-sghohy-MuiButtonBase-root-MuiButton-root {
  background-color: $primary-bg !important;

  &:hover {
    background-color: $primary-bg-hover !important;
  }

  &:active {
    transform: scale(0.95) !important;
    -webkit-transform: scale(0.95) !important;
    -moz-transform: scale(0.95) !important;
    -ms-transform: scale(0.95) !important;
    -o-transform: scale(0.95) !important;
  }
}

.light .box {
  background-color: $white-color;
}
.light .content {
  background-color: $soft-light;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
}

.table-report:not(.table-report--bordered):not(.table-report--tabulator) {
  border-collapse: separate !important;
  border-spacing: 0 10px !important;
}
.table-hover > tbody > tr:hover > * {
  color: $white-color !important;
  background-color: $primary-bg-hover !important;
}

.table-report tr {
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
}

.light .table-btn:hover,
.light .table-btn.active,
.light .table > :not(caption) > * > * {
  background-color: $main-bg !important;
}

.dark .table-btn:hover,
.dark .table-btn.active,
.dark .table > :not(caption) > * > * {
  background-color: $secondary-color !important;
  color: $white-color !important;
}

.light .column-hiding .column-dropdown ul {
  background-color: $primary-bg;
}

.light .staff .staff-table {
  background-color: $white-color;
  -webkit-box-shadow:
    0px 5px 13px -7px #000000,
    0px 0px 9px 1px rgba(0, 0, 0, 0.46) !important;
  box-shadow:
    0px 5px 13px -7px #000000,
    0px 0px 9px 1px rgba(0, 0, 0, 0.46) !important;
}

.dark .css-63vwl1-MuiTypography-root-MuiBreadcrumbs-root {
  & {
    color: $soft-color !important;
  }
  p {
    color: $white-color !important;
  }
}

.css-63vwl1-MuiTypography-root-MuiBreadcrumbs-root:hover {
  color: $blue-magenta !important;
}

.badge {
  width: 70px;
  padding: 5px 0px;
}
