* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  color: $main-color;
  background-color: $primary-bg;
  border: none;
  padding: 10px 15px;
}

body {
  background-color: $main-bg;
  color: $main-color;
  position: relative;
  height: 100%;
}
