html.light {
  --main-bg: #f1f5f8;
  --soft-bg: #d5d5d5;
  --main-color: #2d3748;
  --soft-color: #2d3748db;
  --dark-color: #2a3447;
}
html.dark {
  --main-bg: #293145;
  --soft-bg: #384256;
  --main-color: #fff;
  --soft-color: #d5d5d5;
  --dark-color: #2a3447;
}
// Backgound
$main-bg: var(--main-bg);
$soft-bg: var(--soft-bg);
$main-color: var(--main-color);
$white-color: #fff;
$soft-color: var(--soft-color);
$dark-color: var(--dark-color);

$soft-dark: #373b3e;
$dark-bg: #222b3c;
$primary-bg: #1c3faa;
$primary-soft-bg: #0a8dff;
$secondary-color: #384256;

$gray-100: #f7fafc;
$gray-200: #edf2f7;
$gray-300: #e2e8f0;
$gray-400: #cbd5e0;
$gray-500: #a0aec0;
$gray-600: #718096;
$gray-700: #4a5568;
$gray-800: #2d3748;
$gray-900: #1a202c;

@mixin transition {
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
