@import '../../scss/responsive';

.logo {
  .img {
    width: 120px;
  }

  .title {
    h2 {
      font-size: 18px;
      font-weight: 500;
      word-wrap: break-word;
    }
  }

  @include lg {
    .img {
      width: 50px;
    }
    .title {
      display: none;
    }
  }
}
