@import '../../scss/responsive';

.logo {
  .img {
    width: 200px;
  }

  .title {
    h2 {
      font-size: 16px;
      font-weight: 500;
      word-wrap: break-word;
    }
  }

  // @include lg {
  //   .img {
  //     width: 50px;
  //   }
  //   .title {
  //     display: none;
  //   }
  // }
}
