name: Deploy React App to cPanel

on:
  release:
    types: [published]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Dependencies
        run: npm install

      - name: Build React App
        run: npm run build

      - name: Zip Build Folder
        run: |
          cd build
          zip -r build.zip .
          mv build.zip ../

      - name: Upload & Deploy to cPanel
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.CPANEL_HOST }}
          username: ${{ secrets.CPANEL_USER }}
          key: ${{ secrets.CPANEL_SSH_KEY }}
          port: 2083
          script: |
            cd ${{ secrets.DEPLOY_PATH }}
            rm -rf *
            unzip ~/build.zip -d .
